.navImage{
   height: 30%;
}
.example-spacer {
   flex: 1 1 auto;
 }
 .search-spacer {
  flex: 1 1 auto;
}
.search-bar {
  width:30%;
  margin-top: 50px;
  margin-left:450px;

}
.sidenav-content{    
   min-height: 92vh;
   margin-top: 2em;
 }
.maticon{
     font-size: 40px;
     margin-top:10px;
     height: 50px;
     margin-right:15px
 }
.logo{
   height:63px;
   width:150px;    
   padding-left: 15px;
 }
a mat-icon {
  padding-right: 33px;   
 }
.sidenav{
 margin-top: 2em;
  background-color: white;
 }
.sidenav a:hover{
   color:blue;
 }
.position-fixed{
 margin-bottom: 2em;
   position: sticky;
   position: -webkit-sticky; /* For macOS/iOS Safari */
   top: 0; /* Sets the sticky toolbar to be on top */
   z-index: 1000;
 }

 .matPrefix{
  position: relative;
  bottom: 3px;
}
 



.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  background-color:rgb(140, 140, 209);
  // box-shadow: 0 10px 40px 0 #247dfa;
}
.form-control:hover{
  box-shadow: 0 10px 40px 0 #247dfa;

}
.form-control::placeholder  {
  font-family: FontAwesome;
}
.form-control:focus {
  background-color: white;
  opacity: 1; /* Firefox */
}