.navImage{
   height: 30%;
}
.example-spacer {
   flex: 1 1 auto;
 }
.sidenav-content{    
   min-height: 92vh;
   margin-top: 2em;
 }
.maticon{
     font-size: 40px;
     margin-top:10px;
     height: 50px;
     margin-right:15px
 }
.logo{
   height:63px;
   width:150px;    
   padding-left: 15px;
 }
a mat-icon {
  padding-right: 33px;   
 }
.sidenav{
 margin-top: 2em;
  background-color: white;
 }
.sidenav a:hover{
   color:blue;
 }
.position-fixed{
 margin-bottom: 2em;
   position: sticky;
   position: -webkit-sticky; /* For macOS/iOS Safari */
   top: 0; /* Sets the sticky toolbar to be on top */
   z-index: 1000;
 }

 
 